<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        body{
            background-color: rgb(96, 87, 87);
        }
    </style>
</head>
<body>
    <h1>Url shortener</h1>
    <% if (locals.id) { %>
     <p>URL Generate: http://localhost:8001/<%= id %></p>
    <% } %>
    <div>
        <form method="post" action="/url">
            <div>
                <form >
                    <label> Enter Your Original Url</label>
                    <input type="text" name="url" placeholder="https://example.com"/>
                    <button type="submit">Generate</button>
                </form>
            </div>
        </form>
    </div>
</body>
</html>